#lrp-analysis-container {
    position: absolute;
    left: 300px;
    width: 0;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    -webkit-transition: .4s;
    transition: width .4s;
    z-index: 10;
    background-color: #f0f0f0;
}

#lrp-analysis-title {
    width: 100%;
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    background-color: #368ce7;
    color: #fff;
    border-left: 1px solid #f0f0f0;
    text-align: center;
}

#lrp-analysis-body {
    position: relative;
    width: 100%;
    height: calc(100% - 30px);
    box-sizing: border-box;
    overflow: hidden;
}

.lrp-analysis-tooltip {
    position: absolute;
    text-align: left;
    width: 150px;
    height: auto;
    padding: 2px;
    font: 12px sans-serif;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    border-radius: 2px;
    pointer-events: none;
}

.lrp-analysis-chart-title {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font: 12px sans-serif;
    left: 0;
    top: 5px;
}